<nav class="straight" id="infoview-drag-menu">
  <input type="checkbox" id="menu" checked>
  <a href="javascript:void(0)" (click)="setIsDragView()"
     [className]="isDragView ? 'selected-item' : ''">
    <i class="material-icons menu-icons" style="color: white">3d_rotation</i>
  </a>
  <a href="javascript:void(0)" (click)="setIsContextView()"
     style="left: 55px"
     [className]="isContextView ? 'selected-item' : ''">
    <i class="material-icons menu-icons" style="color: white">satellite</i>
  </a>
</nav>
