<div style="height: 100%">
  <div class="circle-menu-holder">
    <app-circle-menu (newSelection)="interactionFromMenu($event)"></app-circle-menu>
  </div>
  <!--<div ngIf="" class="circle-menu-holder">-->
  <div *ngIf="interactionSpecifics === 'Type'"
       class="straight-menu-holder">
    <app-straight-menu (newSelection)="setBuildingTpe($event)" [selectedType]="selectedAreaType"></app-straight-menu>
  </div>
  <div class="resize_button ol-control">
    <button (click)="goConfiguration()"
            #infos="matTooltip" matTooltipPosition="left"
            matTooltip="Zurück zur Flächenauswahl">
      <i class="material-icons md-24">fullscreen_exit</i>
    </button>
  </div>
  <div id="olMap" class="map"></div>
</div>
