<div class=" infoscreen">
  <div class="row">

    <!--Startscreen-->
    <div *ngIf="!isToolStarted"
         class="col-md-12 col-sm-12 headline">
      <h1>Planungstool Flächenverteilung</h1>
      <br><br>
      <h4>Bitte tippen Sie zum Starten der Anwendung.</h4>
    </div>

    <!--Charts after start-->
    <div *ngIf="isToolStarted"
         class="col-md-12 col-sm-12 headline">
      <h1>Aktuell gewählte Flächenverteilung</h1>
    </div>

    <div *ngIf="isToolStarted"
         class="col-md-6 col-sm-12">
      <div class="shadow-element holder-element">
        <dash-spider [series]="spiderData"></dash-spider>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="shadow-element holder-element">
        <div id="map" style="width: 700px; height:400px"></div>


        <!--<div class="control tilt">-->
          <!--<button class="dec">&#8601;</button>-->
          <!--<button class="inc">&#8599;</button>-->
        <!--</div>-->

        <!--<div class="control rotation">-->
          <!--<button class="inc">&#8630;</button>-->
          <!--<button class="dec">&#8631;</button>-->
        <!--</div>-->

        <!--<div class="control zoom">-->
          <!--<button class="dec">-</button>-->
          <!--<button class="inc">+</button>-->
        <!--</div>-->
      </div>
    </div>

  </div>
</div>
