<nav class="radial" cdkDrag>
  <input type="checkbox" id="menu" checked>
  <a href="javascript:void(0)" (click)="menuItemClick('Draw', 'Polygon')">
    <i class="material-icons menu-icons white">create</i>
  </a>
  <a href="javascript:void(0)" (click)="menuItemClick('Modify')">
    <i class="material-icons menu-icons white">format_shapes</i>
  </a>
  <a href="javascript:void(0)" (click)="menuItemClick('Delete')">
    <i class="material-icons menu-icons white">clear</i>
  </a>
  <a href="javascript:void(0)" (click)="menuItemClick('Move')">
    <i class="material-icons menu-icons white">open_with</i>
  </a>
  <a href="javascript:void(0)" (click)="menuItemClick('DeleteAll')">
    <i class="material-icons menu-icons white">delete_outline</i>
  </a>
  <a href="">
    <i class="material-icons menu-icons white">menu</i>
  </a>
  <label for="menu" class='fa fa-bars'>
    <i class="material-icons menu-icons white">menu</i>
  </label>
</nav>
